# These are for root context if needed, usually managed in sub-apps
BETTER_AUTH_SECRET=your_secret_here
POSTGRES_DB_URL=postgresql://user:password@localhost:5432/app_test
BETTER_AUTH_URL=http://localhost:8080
NEXT_PUBLIC_API_URL=http://localhost:8080
