NODE_ENV=development
APP_ENV=test
PORT=8080
POSTGRES_DB_URL=postgresql://user:password@localhost:5432/app_test
BETTER_AUTH_SECRET=your_secret_here
BETTER_AUTH_URL=http://localhost:8080
CORS_ORIGIN=http://localhost:3000

# Mailgun
MAILGUN_API_KEY=
MAILGUN_DOMAIN=
# MAILGUN_URL=https://api.eu.mailgun.net

# Digital Ocean Spaces
DO_SPACES_KEY=
DO_SPACES_SECRET=
DO_SPACES_ENDPOINT=
DO_SPACES_BUCKET=
DO_SPACES_REGION=
